.progress-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .progress-section {
        padding: 0.75rem;
    }
}

@media (max-width: 500px) {
    .progress-section {
        width: 100%;
        padding: 0.5rem;
    }
}


.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
}

.circleBackground {
    fill: none;
    stroke: #333;
    stroke-width: 10px;
}

.circleProgress {
    fill: none;
    stroke: #ff6b6b;
    stroke-width: 10px;
    transition: stroke-dashoffset 1s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.remaining {
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
}

.time-results {
    margin-top: 1rem;
    color: #b0b0b0;
    text-align: center;
}

.time-results p {
    margin: 0.3rem 0;
}

@media (max-width: 768px) {
    .progress-circle {
        width: 80px;
        height: 80px;
    }

    .progress-text {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .progress-circle {
        width: 70px;
        height: 70px;
    }

    .progress-text {
        font-size: 0.875rem;
    }

    .time-results p {
        font-size: 0.75rem;
    }
}
