@import "../../styles/global";
@import "../../styles/global";

.progress-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calculateRem(16);
}

@media (max-width: 768px) {
    .progress-section {
        padding: calculateRem(12);
    }
}

@media (max-width: 500px) {
    .progress-section {
        width: 100%;
        padding: calculateRem(8);
    }
}

.progress-circle {
    position: relative;
    width: calculateRem(100);
    height: calculateRem(100);
}

.circle_background {
    fill: none;
    stroke: #333;
    stroke-width: calculateRem(10);
}

.circle_progress {
    fill: none;
    stroke: #ff6b6b;
    stroke-width: calculateRem(10);
    transition: stroke-dashoffset 1s ease-in-out;
}

.progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calculateRem(20);
    font-weight: bold;
}

.remaining {
    color: white;
    font-weight: bold;
    padding-bottom: calculateRem(16);
}

.time-results {
    margin-top: calculateRem(16);
    color: #b0b0b0;
    text-align: center;
}

.time-results p {
    margin: calculateRem(4.8) 0;
}

@media (max-width: 768px) {
    .progress-circle {
        width: calculateRem(80);
        height: calculateRem(80);
    }

    .progress-text {
        font-size: calculateRem(16);
    }
}

@media (max-width: 500px) {
    .progress-circle {
        width: calculateRem(70);
        height: calculateRem(70);
    }

    .progress-text {
        font-size: calculateRem(14);
    }

    .time-results p {
        font-size: calculateRem(12);
    }
}
