<div class="progress-section">
  <div class="progress-circle">
    <svg viewBox="0 0 100 100">
      <circle class="circle_background" cx="50%" cy="50%" r="45%"/>
      <circle class="circle_progress" cx="50%" cy="50%" r="45%"
              [attr.stroke-dasharray]="circleCircumference"
              [attr.stroke-dashoffset]="strokeDashoffset"/>
    </svg>
    <div class="progress-text">
      {{ percentageWatched() | number:'1.2-2' }}%
    </div>
  </div>

  <div class="time-results">
    <span class="remaining">{{ 'REMAINING_TIME_LABEL' | translate:{ time: formatTime(remainingTimeInMinutes()) } }}</span>
    <p>{{ 'TIME_AT_SPEED' | translate:{speed: '1.2', time: formatTime(remainingTimeInMinutes() / 1.2)} }}</p>
    <p>{{ 'TIME_AT_SPEED' | translate:{speed: '1.4', time: formatTime(remainingTimeInMinutes() / 1.4)} }}</p>
    <p>{{ 'TIME_AT_SPEED' | translate:{speed: '1.6', time: formatTime(remainingTimeInMinutes() / 1.6)} }}</p>
    <p>{{ 'TIME_AT_SPEED' | translate:{speed: '1.8', time: formatTime(remainingTimeInMinutes() / 1.8)} }}</p>
    <p>{{ 'TIME_AT_SPEED' | translate:{speed: '2.0', time: formatTime(remainingTimeInMinutes() / 2)} }}</p>
  </div>
</div>
