@import "../../styles/global";

h1 {
    margin-bottom: calculateRem(20);
    font-size: calculateRem(24);
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: calculateRem(8);
    margin-bottom: calculateRem(15);
}

.toggle-group {
    margin-bottom: calculateRem(15);
    display: flex;
    justify-content: center;
    gap: calculateRem(16);
}

label {
    color: #b0b0b0;
    font-weight: 700;
    display: flex;
    gap: calculateRem(8);
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    padding: calculateRem(10) 0;
    border: calculateRem(1) solid #333;
    border-radius: calculateRem(6);
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    width: calculateRem(70);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

button {
    font: inherit;
    padding: calculateRem(10);
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: calculateRem(6);
    cursor: pointer;
    font-size: calculateRem(16);
    font-weight: 700;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #ff4747;
    transform: translateY(calculateRem(-3));
}

@media (max-width: 768px) {
    .container {
        padding: calculateRem(20);
    }

    h1 {
        font-size: calculateRem(20);
    }

    button {
        font-size: calculateRem(14);
        padding: calculateRem(8);
    }

    input[type="number"] {
        width: calculateRem(60);
    }
}

@media (max-width: 500px) {
    input[type="number"] {
        width: calculateRem(50);
    }

    h1 {
        font-size: calculateRem(16);
    }

    button {
        font-size: calculateRem(12);
    }
}

input[type="radio"] {
    appearance: none;
    background-color: #2b2b2b;
    margin: 0;
    font: inherit;
    color: #ff6b6b;
    width: calculateRem(20);
    height: calculateRem(20);
    border: calculateRem(2) solid #ff6b6b;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="radio"]::before {
    content: "";
    width: calculateRem(12);
    height: calculateRem(12);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    box-shadow: inset 1em 1em #ff6b6b;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="radio"]:focus {
    border-color: #ff4747;
    outline: none;
}

hr {
    width: 80%;
    border: calculateRem(0.68) solid #a9a9a97a;
    margin: calculateRem(20) auto;
}
