@import "../styles/global";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calculateRem(16);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calculateRem(16);

  background: rgba(30, 30, 30, 0.85);
  padding: calculateRem(25);
  border-radius: calculateRem(12);
  box-shadow: 0 calculateRem(4) calculateRem(20) rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: slideIn 1s ease-in-out;
  color: white;
  margin: calculateRem(16);
}
