//@import '../src/styles/global';
@import "../../styles/global";

.app-header {
  padding: calculateRem(16);
  border-radius: calculateRem(12);
  gap: calculateRem(64);
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.language-selector select {
  padding: calculateRem(8);
  background-color: #444;
  color: white;
  border: none;
  border-radius: calculateRem(4);
}

.language-selector select:hover {
  cursor: pointer;
}

h2 {
  margin: 0;
}
